.home-title {
  margin-top: 120px;
  margin-left: 120px;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #062847;
}
.home-paragraph {
  font-size: 20px;
  line-height: 36px;
  color: #5a6774;
  margin-top: 24px;

  margin-left: 120px;
}
.btn-margin {
  margin-left: 120px;
}
