.card-search-container {
  width: 1251px;
  height: 270px;
  margin-top: 55px;
}
.card-result-container {
  width: 1251px;
  height: 270px;
  margin-top: 55px;
}
.search-title {
  padding-bottom: 12px;
  padding-top: 65px;
}

.search-content {
  margin-left: 95px;
  padding-bottom: 25px;
}
.btn-card-content {
  padding: 0 45px 45px 95px;
}
